.DS_Store
node_modules/
output/
ethics-commentfix-desktop.png
ethics-commentfix-mobile.png
ethics-desktop-tighten.png
ethics-desktop-tighten2.png
ethics-desktop-tighten3.png
ethics-mobile-tighten.png
ethics-mobile-tighten2.png
